<h1>Create New Review for <strong><%= @menu_item.name %></strong> from <strong><%= @restaurant.name %></strong> %></h1>

<form action="/<%= @restaurant.slug %>/menu_items/<%= @menu_item.id %>/reviews" method="post">
  <label for="rating">Rating: </label>
  <input id="rating" type="number" name="rating" min="1" max="10">

  <label for="comment">Comment: </label>
  <input id="comment" type="text" name="comment">

</form>
