<!doctype html>
<html>
  <head>
    <title>Menu Reviewer</title>
  </head>
  <body>
    <header>
      <nav>
        <!-- <ul> -->
          <a href="/restaurants">Restaurants</a>
          <% if Helpers.logged_in?(session) %>
            <a href="/<%= Helpers.current_user(session).slug %>">My Reviews</a>
            <a href="/logout">Log Out</a>
          <% else %>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
          <% end %>
        <!-- </ul> -->
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
