<!doctype html>
<html>
  <head>
    <title>Menu Reviewer</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/restaurants">Restaurants</a></li>
          <li><a href="/menu_items">Menu Items</a></li>
          <li><a href="/reviews">Reviews</a></li>
          <% if Helpers.logged_in?(session) %>
            <li><a href="/user/<%= Helpers.current_user(session).slug %>">My Reviews</a></li>
          <% else %>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Login</a></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
